<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

  <title>Calvin Brown</title>

  <meta name="author" content="" />
  <meta name="description" content="Urban Planner, Data Analyst, Cartographer, Transit and Safe Streets Advocate">


<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap4.min.css" />
<link rel="stylesheet" href="https://calvinbrown32.github.io//css/bootstrap-social.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://calvinbrown32.github.io/css/pygment_highlights.css" />

<link rel="stylesheet" href="https://calvinbrown32.github.io/css/main.css" />


<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

</head>


  <body>

<!-- <nav class="navbar navbar-expand-md navbar-custom"> -->
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand-custom" href="http://calvinbrown32.github.io">Calvin Brown</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">

    <!-- ** FUTURE ABOUT PAGE HERE:
        <li class="nav-item-custom">
          <a class="nav-link" href="https://calvinbrown32.github.io/resume">About</a> </li>
    ** -->

   <!-- ** FUTURE ABOUT PAGE HERE:
        <li class="nav-item-custom">
        <a class="nav-link" href="http://127.0.0.1:5000/portfolio2">Portfolio</a> </li>
   ** -->
       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/essays">Essays</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/resume">Resume</a> </li>

       <li class="nav-item-custom">
       <a class="nav-link" href="https://calvinbrown32.github.io/contact">Contact</a> </li>

    </ul>
  </div>
</nav>


<header class="header-section ">
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-heading">
          <h1>Calvin Brown</h1>

            <hr class="small">
            <span class="page-subheading">Urban Planner, Data Analyst, Cartographer, Transit and Safe Streets Advocate</span>
        </div>
      </div>
    </div>
  </div>
</div>
</header>


<div class="container">
<div class="row align-items-center">


    <form id="form1" action="/311" method="POST" enctype="multipart/form-data">
<select name="cbs" id="cbs">
    <option value="01 BRONX">01 BRONX</option>
    <option value="01 BROOKLYN">01 BROOKLYN</option>
    <option value="01 MANHATTAN">01 MANHATTAN</option>
    <option value="01 QUEENS">01 QUEENS</option>
    <option value="01 STATEN ISLAND">01 STATEN ISLAND</option>
    <option value="02 BRONX">02 BRONX</option>
    <option value="02 BROOKLYN">02 BROOKLYN</option>
    <option value="02 MANHATTAN">02 MANHATTAN</option>
    <option value="02 QUEENS">02 QUEENS</option>
    <option value="02 STATEN ISLAND">02 STATEN ISLAND</option>
    <option value="03 BRONX">03 BRONX</option>
    <option value="03 BROOKLYN">03 BROOKLYN</option>
    <option value="03 MANHATTAN">03 MANHATTAN</option>
    <option value="03 QUEENS">03 QUEENS</option>
    <option value="03 STATEN ISLAND">03 STATEN ISLAND</option>
    <option value="04 BRONX">04 BRONX</option>
    <option value="04 BROOKLYN">04 BROOKLYN</option>
    <option value="04 MANHATTAN">04 MANHATTAN</option>
    <option value="04 QUEENS">04 QUEENS</option>
    <option value="05 BRONX">05 BRONX</option>
    <option value="05 BROOKLYN">05 BROOKLYN</option>
    <option value="05 MANHATTAN">05 MANHATTAN</option>
    <option value="05 QUEENS">05 QUEENS</option>
    <option value="06 BRONX">06 BRONX</option>
    <option value="06 BROOKLYN">06 BROOKLYN</option>
    <option value="06 MANHATTAN">06 MANHATTAN</option>
    <option value="06 QUEENS">06 QUEENS</option>
    <option value="07 BRONX">07 BRONX</option>
    <option value="07 BROOKLYN">07 BROOKLYN</option>
    <option value="07 MANHATTAN">07 MANHATTAN</option>
    <option value="07 QUEENS">07 QUEENS</option>
    <option value="08 BRONX">08 BRONX</option>
    <option value="08 BROOKLYN">08 BROOKLYN</option>
    <option value="08 MANHATTAN">08 MANHATTAN</option>
    <option value="08 QUEENS">08 QUEENS</option>
    <option value="09 BRONX">09 BRONX</option>
    <option value="09 BROOKLYN">09 BROOKLYN</option>
    <option value="09 MANHATTAN">09 MANHATTAN</option>
    <option value="09 QUEENS">09 QUEENS</option>
    <option value="10 BRONX">10 BRONX</option>
    <option value="10 BROOKLYN">10 BROOKLYN</option>
    <option value="10 MANHATTAN">10 MANHATTAN</option>
    <option value="10 QUEENS">10 QUEENS</option>
    <option value="11 BRONX">11 BRONX</option>
    <option value="11 BROOKLYN">11 BROOKLYN</option>
    <option value="11 MANHATTAN">11 MANHATTAN</option>
    <option value="11 QUEENS">11 QUEENS</option>
    <option value="12 BRONX">12 BRONX</option>
    <option value="12 BROOKLYN">12 BROOKLYN</option>
    <option value="12 MANHATTAN">12 MANHATTAN</option>
    <option value="12 QUEENS">12 QUEENS</option>
    <option value="13 BROOKLYN">13 BROOKLYN</option>
    <option value="13 QUEENS">13 QUEENS</option>
    <option value="14 BROOKLYN">14 BROOKLYN</option>
    <option value="14 QUEENS">14 QUEENS</option>
    <option value="15 BROOKLYN">15 BROOKLYN</option>
    <option value="16 BROOKLYN">16 BROOKLYN</option>
    <option value="17 BROOKLYN">17 BROOKLYN</option>
    <option value="18 BROOKLYN">18 BROOKLYN</option>
    <option value="26 BRONX">26 BRONX</option>
    <option value="64 MANHATTAN">64 MANHATTAN</option>
    <option value="81 QUEENS">81 QUEENS</option>
    <option value="Unspecified BRONX">Unspecified BRONX</option>
    <option value="Unspecified BROOKLYN">Unspecified BROOKLYN</option>
    <option value="Unspecified MANHATTAN">Unspecified MANHATTAN</option>
    <option value="Unspecified QUEENS">Unspecified QUEENS</option>
    <option value="Unspecified STATEN ISLAND">Unspecified STATEN ISLAND</option>
    <input type="submit" value="Submit">
  </form>
<p>When you select a new community board, a function is triggered which outputs the value of the selected community board.</p>
  <div id="result">
    {% if community_board is defined %}
    The community board you selected is: {{ community_board }}
    {% endif %}
  </div>

<div>


</div>






</div>
</div>

</body>


	<!--
-->
    </div>
  </div>
</div>


  <footer>
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="list-inline text-center footer-links">

            <li class="list-inline-item">
                <a href="mailto:calvinbrown32@gmail.com" title="Email me"><span class="fa-stack                 fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Email me</span>
              </a>
            </li>

            <li class="list-inline-item">
            <a href="https://twitter.com/calvinbrown32" title="Twitter"><span class="fa-stack               fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Twitter</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.instagram.com/calvindechicago" title="Instagram"><span                     class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Instagram</span>
              </a>
            </li>

            <li class="list-inline-item">
                <a href="https://linkedin.com/in/calvin-brown-467b4b33" title="LinkedIn"><span                  class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">LinkedIn</span>
              </a>
            </li>
        </ul>

      <p class="copyright text-muted">

      &nbsp;&bull;&nbsp;
      2021

      &nbsp;&bull;&nbsp;
      <a href="https://calvinbrown32.github.io">Calvin Brown</a>


      </p>

      </div>
    </div>
  </div>
</footer>




  </body>
</html>
